body {
    min-height: 100vh;
    font-weight: 500;
    font-style: normal;
    font-family: 'Lato';
}

#wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-top: 51px;
}
/*#sidebar {
    min-height: 100%;
}*/

#content {
    padding-top: 10px;
    flex-grow: 1;
    min-height: 100%;
}
/*
 * Side nav
 */
#sidenav {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#sidenav.sidebar-md {
    min-width: 250px;
    max-width: 250px;
}

#sidenav.sidebar-sm {
    min-width: 70px;
    max-width: 70px;
}
#sidenav.sidebar-sm .sidenav-link {
    display: none;
}

.sidenav {
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    list-style: outside none none;
    flex-grow: 1;
}
.sidenav.sidenav-shrink {
    flex-grow: 0;
    text-align: right;
}
.sidenav-default {
    background-color: #e7e7e7;
}
.sidenav-inverse {
    background-color: #222222;
}

.sidenav-inverse > li > a {
    color: #9d9d9d;
    font-size: 1.5rem;
}
.sidenav > li > a:focus,
.sidenav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav > li.active > a,
.sidenav > li.active > a:focus,
.sidenav > li.active > a:hover {
    background-color: #080808;
    color: #fff;
}

.sidenav>li>ul {
    background-color: #333;
    border-bottom: 1px solid #080808;
    border-top: 1px solid #080808;
    list-style: outside none none;
    padding: 0;
}

.sidenav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 48px;
    text-decoration: none;
    color: #9d9d9d;
    font-size: 1.2rem
}
.sidebar-sm .sidenav>li>ul>li>a {
    padding: 10px 15px 10px 30px;
}

.sidenav > li > ul > li > a:focus,
.sidenav > li > ul > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav > li > ul > li.active > a,
.sidenav > li > ul > li.active > a:focus,
.sidenav > li > ul > li.active > a:hover {
    background-color: #1b1b1b;
    color: #fff;
}

/*
 * Borrow
 */
.new-borrow .device {
    display: none;
}
