html {
    font-size: 62.5%
}
body {
    min-height: 100vh;
    font-weight: 500;
    font-style: normal;
    font-family: 'Lato';
    font-size: 1.4rem;
}

#wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-top: 51px;
}

#content {
    padding-top: 10px;
    flex-grow: 1;
    min-height: 100%;
    transition: all 500ms;
}

.flash-message {
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 10%;
    width: 50%;
    z-index: 99999;
}

#content.content-sm {
    padding-left: 265px;
}
#content.content-md {
    padding-left: 85px;
}

/*
 * Side nav
 */
#sidebar {
    position: fixed;
    transition: all 500ms;
    overflow: hidden;
}


#sidenav {
    min-height: calc(100vh - 51px);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 500ms;
}
#sidebar.sidebar-md {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}

#sidebar.sidebar-sm {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}
#sidebar.sidebar-md .sidenav-link {
    visibility: visible;
    opacity: 1;
    height: 30px;
    width: auto;
    transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out
}
#sidebar.sidebar-sm .sidenav-link {
    visibility: hidden;
    opacity: 0;
    height:0;
    width: 0;
}
#sidebar.sidebar-sm .sidenav-link {
    display: none;
}

@media screen and (min-width: 1109px) {
    #sidebar {
        min-width: 250px;
        max-width: 250px;
    }

    .sidenav>li>ul>li>a{
        padding: 10px 15px 10px 30px;
    }
    .sidenav-shrink{
        display: none;
    }
}

.sidenav {
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    list-style: outside none none;
    flex-grow: 1;
}
.sidenav.sidenav-shrink {
    flex-grow: 0;
    text-align: right;
    overflow: hidden;
    padding-bottom: 15px;
}
#sidebar_shrink {
    transition: all ease-in-out 500ms;
    cursor: pointer;
}
#sidebar_shrink:hover > .fa {
    transform: rotate(180deg);
    transition-duration: 1s;
}
.sidenav-default {
    background-color: #e7e7e7;
}
.sidenav-inverse {
    background-color: #222222;
}

.sidenav-inverse > li > a {
    color: #9d9d9d;
    font-size: 2rem;
    height: 4rem;
    position: relative;
}
.sidenav > li > a:focus,
.sidenav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav > li.active > a,
.sidenav > li.active > a:focus,
.sidenav > li.active > a:hover {
    background-color: #080808;
    color: #fff;
}

.sidebar-sm  .sidenav > li > ul > li.active > a::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #edefef transparent transparent;
    position: absolute;
    right: 0;
    top: 5px;
}
.sidebar-md  .sidenav > li > ul > li.active > a::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #edefef transparent transparent;
    position: absolute;
    right: 0;
    top: 5px;
}

.sidenav>li>ul {
    background-color: #333;
    border-bottom: 1px solid #080808;
    border-top: 1px solid #080808;
    list-style: outside none none;
    padding: 0;
    position: relative;
}

.sidenav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 48px;
    text-decoration: none;
    color: #9d9d9d;
    position: relative;
    /*font-size: 1.2rem;
    height: 3rem;*/
}
.sidebar-sm .sidenav>li>ul>li>a {
    padding: 6px 15px 10px 30px;
    height: 3rem;
    position: relative;
}

.sidenav > li > ul > li > a:focus,
.sidenav > li > ul > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav > li > ul > li.active > a,
.sidenav > li > ul > li.active > a:focus,
.sidenav > li > ul > li.active > a:hover {
    background-color: #1b1b1b;
    color: #fff;
}

/*
 * Borrow
 */
.new-borrow .device {
    display: none;
}
.new-borrow > td > span.select2,
.new-borrow > td > div > span.select2{
    min-width: 100px;
}

/*------------------------------------------------------------------
[Master Stylesheet]

Project    	: Aether
Version		: 1.0
Last change	: 2015/03/27
URL         : http://bootsnipp.com/snippets/featured/custom-login-registration-amp-forgot-password
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. General Structure
2. Anchor Link
3. Text Outside the Box
4. Main Form
5. Login Button
6. Form Invalid
7. Form - Main Message
8. Custom Checkbox & Radio
9. Misc
-------------------------------------------------------------------*/
/*=== 1. General Structure ===*/
html,
body {
    background: #efefef;
    /*font-family: 'Varela Round';*/
}
.table-responsive {
    background-color: #ffffff;
    border-radius: 5px;
}
/*=== 2. Anchor Link ===*/
a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
    width: 25%;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}
/*=== 8. Custom Checkbox & Radio ===*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    padding-top: 1px;
    cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 0px solid #aaa;
    background: #f0f0f0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    position: absolute;
    color: #222222;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #8c8c8c;
    background-color: #EFEFEF;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
    color: #222222;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
    color: #EFEFEF;
    cursor: not-allowed;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #f6f6f6;
}
/* hover style just for information */
label:hover:before {
    border: 1px solid #f6f6f6 !important;
}
/*=== Customization ===*/
/* radio aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    border-radius: 3px;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    border-radius: 35px;
}
/* selected mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    top: 0;
    left: 2px;
    font-size: 14px;
}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '\2022';
    top: 0;
    left: 3px;
    font-size: 30px;
    line-height: 25px;
}
/*=== 9. Misc ===*/
.logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
}

/**
 *
 *  Table
 *
 */
.fixed-table-toolbar .bars {
    line-height: 34px;
    margin-bottom: 10px;
    margin-top: 8px;
    position: relative;
}

.fixed-table-toolbar .bars.pull-right {
    margin-left: 5px;
}

th small {
    color: #7d7d7d;
}


/*
 *
 * Icon color
 *
 */
.fa-color-danger > .fa {
    color: #d9534f;
}

.fa-color-warning > .fa {
    color: #f0ad4e;
}

.fa-color-info > .fa {
    color: #5bc0de;
}

.fa-color-success > .fa {
    color: #5cb85c;
}
.fa-color-primary > .fa {
    color: #337ab7;
}

#borrowed_stabs > svg,
#borrowed_regulators > svg,
#borrowed_tanks > svg {
    width: 100%;
}

/**
 *
 *  Select 2 responsive
 *
 */
[class*="col-"] .select2-container {
    width:100%!important;
}
[class*="col-"] .select2-container .select2-search input[type="text"] {
    padding:2px 4%!important;
    width:90%!important;
    margin:5px 2%;
}
[class*="col-"] .select2-container .select2-drop {
    width: 100%!important;
}
